 /* Fahim Custom Variable */
:root {
    
  --whiteBackground:#fff;
  --primaryShadow:0 2px 40px #0000002e;
  --primaryBorder:rgba(145, 158, 171, 0.24);
  --primaryText: #333;
  --secondaryText:#7e8186de;
  --primaryColor: #4776db;
  --primaryBackground: #4776db;
  --whiteColor: #fff;
  --Roboto:'Roboto', sans-serif;
  }